fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

sqlalchemy
psycopg[binary]
pgvector

langchain
langchain-openai
langchain-community
langsmith
langchain-text-splitters

openai

pytest
httpx